

@font-face {
    font-family: 'damionregular';
    src: url('font/damion-regular-webfont.eot');
    src: url('font/damion-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/damion-regular-webfont.woff2') format('woff2'),
         url('font/damion-regular-webfont.woff') format('woff'),
         url('font/damion-regular-webfont.ttf') format('truetype'),
         url('font/damion-regular-webfont.svg#damionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
Body {
	text-align center;
	font-family: Arial;
	color: #989898;
  	padding-top:10%;
	Background-color: #383838;
	font-weight: bold;
	
	
}


.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

div{
font-family:monospace;
font-size:120%;
padding-left:10%;
padding-bottom:1%;
}


h1{
padding-left:12%;
font-family: 'Lato', sans-serif;
font-size:170%;
}

h3{
padding-left:5%;
font-family: 'Lato', sans-serif;;
font-size:170%;
}

}
.nav a{
    display:inline-block;
    padding:10px;
}

.head {
	
	float: center;
	height:30%;
	width:30%;
}



import url(http://fonts.googleapis.com/css?family=Lato);

*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*| Navigation |*/

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
}

 nav h1  {
	font-family: damionregular, Verdana ;
	font-size: 170% ;
	position:relative;	
	float: left;
	display:inline-table;
	color: #003399;
	padding-left:10%;
	}
  nav ul{
    list-style: none;
    position: relative;
    float: center;
    margin-right: 200px;
    display: inline-table;
  }
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    nav ul li:hover{background: rgba(0,0,0,.15);}
    nav ul li:hover > ul{display: block;}
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      nav ul li a{
        display: block; 
        padding: 15px 15px;
        color: #222; 
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }
      nav ul ul{
        display: none;
        background: #fff;
        position: absolute; 
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
      }
        nav ul ul li{float: none; position: relative;}
          nav ul ul li a {
            padding: 15px 30px; 
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          nav ul ul ul {
            position: absolute; 
            left: 100%; 
            top:0;
          }
