	@font-face {
    font-family: 'damionregular';
    src: url('damion-regular-webfont.eot');
    src: url('damion-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('damion-regular-webfont.woff2') format('woff2'),
         url('damion-regular-webfont.woff') format('woff'),
         url('damion-regular-webfont.ttf') format('truetype'),
         url('damion-regular-webfont.svg#damionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
Body {
	text-align: center;
	font-family: Arial;
  	background-image: url("trans.png");
	background-position: 65%;
	background-repeat: no-repeat;
}

 #name  {
	font-family: damionregular, Verdana ;
	font-size: 350% 
	}

.text {
		

}

 .nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}


